.venv
.env
.pytest_cache
.vscode
webDriver
tests/__pycache__/
tests/main_page/__pycache__/
tests/testing_AB/__pycache__/
tests/testing_elements_add_remove/__pycache__/
tests/testing_Basic_Auth/__pycache__/